//Primary Colors for the whole app
@darkcolor: #663851;
@mediumcolor: #8E436C;
@lightcolor: #D6B8C9;
@gold: #F5C93B;
@darkgold: #A6722E;

html, body {
  height: 100%;
  margin: 0;
}

.full-size {
  height: 100%;
  width: 100%;
}

.textalign-center {
  text-align: center;
}

.button {
  padding: 10px 20px;
  font-size: 150%;
  font-family: sans-serif;
  font-weight: 700;
  font-variant: small-caps;
  border: 0;
  border-radius: 8px;
  background-color: @gold;
  color: #fff;
  box-shadow: 0 15px 0 @darkgold, 0px 9px 25px rgba(0, 0, 0, .7);
  transition: all 200ms ease;
}

.button:active, .button:hover {
  box-shadow: 0 3px 0 @darkgold, 0px 3px 6px rgba(0, 0, 0, .9);
  transform: translateY(12px);
}

.unicorn-heading-1 {
  color: #663851;
  font-size: 300%;
  font-family: sans-serif;
}

.unicorn-maker {
  font-variant: small-caps;
  font-family: cursive;
  font-size: 16px;
}
