@import "../../app.global.less";

.unicorn-station {
  background: url("/app/assets/meadow.jpg") center;
}

.unicorn-station-save {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.unicorn-station-logo {
  width: 100%;
  margin-bottom: -20px;
}

.unicorn-station-menu-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-width: 200px;
  width: 30%;
  max-width: 500px;

  box-sizing: border-box;
  padding: 30px;
}

.unicorn-station-name {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.unicorn-station-menu {
  flex-grow: 1;
  position: relative;

}

.unicorn-station-name-label {
  color: @lightcolor;
  font-size: 20px;
}

.unicorn-station-name-input {
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
  font-variant: small-caps;
  background: #171717;
  color: @mediumcolor;
  border: black;
  text-align: center;
}
