.unicorn-station {
  background-image: url("/app/assets/meadow.jpg");
}

.unicorn-station-save {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.unicorn-station-menu-wrapper {
  background: yellow;
  height: 100%;
  width: 400px;
}
