<div class="option-menu full-size">
  <div class="unicorn-heading-1">bodies</div>
  <option-menu-category [options]="bodies" [id]="bodyId" (update)="updateBody($event)"></option-menu-category>
  <div class="unicorn-heading-1">hats</div>
  <option-menu-category [options]="hats" [id]="hatId" (update)="updateHat($event)"></option-menu-category>
  <div class="unicorn-heading-1">wings</div>
  <option-menu-category [options]="wings" [id]="wingsId" (update)="updateWings($event)"></option-menu-category>
  <div class="unicorn-heading-1">shoes</div>
  <option-menu-category [options]="shoes" [id]="shoesId" (update)="updateShoes($event)"></option-menu-category>
</div>
