<div class="option-menu full-size">
  <div>Options Menu!</div>


  <div>bodies</div>
  <option-menu-category [options]="bodies" [id]="bodyId" (update)="updateBody($event)"></option-menu-category>
  <div>hats</div>
  <option-menu-category [options]="hats" [id]="hatId" (update)="updateHat($event)"></option-menu-category>
  <div>wings</div>
  <option-menu-category [options]="wings" [id]="wingsId" (update)="updateWings($event)"></option-menu-category>
  <div>shoes</div>
  <option-menu-category [options]="shoes" [id]="shoesId" (update)="updateShoes($event)"></option-menu-category>

</div>
