<div class="option-menu full-size">
  <div class="unicorn-heading-1 unicorn-option-menu-heading">bodies</div>
  <option-menu-category [options]="bodies" [id]="bodyId" (update)="updateBody($event)"></option-menu-category>
  <div class="unicorn-heading-1 unicorn-option-menu-heading">wings</div>
  <option-menu-category [options]="wings" [id]="wingsId" (update)="updateWings($event)"></option-menu-category>
  <div class="unicorn-heading-1 unicorn-option-menu-heading">hats</div>
  <option-menu-category [options]="hats" [id]="hatId" (update)="updateHat($event)"></option-menu-category>
  <div class="unicorn-heading-1 unicorn-option-menu-heading">shoes</div>
  <option-menu-category [options]="shoes" [id]="shoesId" (update)="updateShoes($event)"></option-menu-category>
</div>
