<div class="save-screen full-size">
  <div class="content">
    <div class="text">
      <span class="bigger-text">WOW!</span> {{unicornName}} looks amazing!
      <p>Show your Unicorn to your friends with the following link:</p>
    </div>
    <div class="unicornlink-box" (click)="copyLinkToClipboard()">
      {{unicornlink}}
    </div>
    <div class="textalign-center button-margin">
      <button (click)="previous()" class="button">Go back editing</button>
    </div>
  </div>
  <!--Social Media Buttons-->
  <div class="textalign-center social-media-buttons">
    <img src="/app/assets/facebook.png" alt="Facebook">
    <img src="/app/assets/twitter.png" alt="Twitter">
    <img src="/app/assets/instagram.png" alt="Instagram">
    <div class="text">#unicornmaker</div>
  </div>
</div>
